@charset "utf-8";
/* Reset */
*{margin: 0;padding: 0;}
a {text-decoration : none;}
ul, ol {list-style : none;}

body {
    margin: 20px;
    background-color:#ffffff;
    text-align:center;
}
img {
	max-width : 100%;
}
#header
{
  padding:10px;
  color:#000000;
  background-color:#e2e2e2;
  font-size:30px;
  text-align:center;
  margin: 0 auto;
  position:relative;

  font-family:  "Helvetica Neue","Helvetica","Hiragino Sans",
"Hiragino Kaku Gothic ProN","Arial","Yu Gothic","Meiryo",sans-serif;
margin:100px;
}
#body
{
font-size:20px;
color:#2f4f4f;
margin:40px;

}
